@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Car compare </h2>
        <p>
            Car compare is used to compare all the electric cars available in the market.
        </p>
        <p>
            You can find variety of brands from all over the world and compare them in one place
        </p>

    </div>
    
    <div class="col-md-4">
        <h2></h2>
        <p>so lets go and find your favortie car!</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
               Elec Car compare &raquo;
            </a>
        </p>
    </div>
</div>
